html,
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-weight: 300;
  text-size-adjust: 100%;
  line-height: 1.1;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: calc(100vw);
  height: calc(100vh);
}

/**
  root react element
*/
#root {
  width: calc(100vw - 2 * 1rem);
  height: calc(100vh - 2 * 1rem);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  text-decoration: none;
  margin: 1rem;
}
section a, section h2, section h3 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.25);
  margin: 0.25rem;
}
section h2 {
  border-style: solid;
  border-width: 2mm;
  border-radius: 10mm;
  font-size: 2rem;
  padding: 2mm 8mm;
}
section a, section h3 {
  font-size: 1rem;
}